 Eclipse
 .classpath
 .project
 .settings/

 # Intellij
 .idea/
 *.iml
 *.iws

 # Mac
 .DS_Store

 # Maven
 log/
 target/

 *target*
 *.jar
 *.war
 *.ear
 *.class

 # eclipse specific git ignore
 *.pydevproject
 .project
 .metadata
 .metadata/**
 .recommenders/**
 bin/**
 tmp/**
 tmp/**/*
 *.tmp
 *.bak
 *.swp
 *~.nib
 local.properties
 .classpath
 .settings/
 .loadpath

 # External tool builders
 .externalToolBuilders/

 # Locally stored "Eclipse launch configurations"
 *.launch
.metadata/.plugins/org.eclipse.core.resources/.history/74/a0ba02b12c5c00141b22dad4a451116f
*.zip
*.zip
.metadata/.mylyn/tasks.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.projects/HeatedEarth/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/HeatedEarth/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/7.snap
.metadata/.log
.metadata/.mylyn/.taskListIndex/segments.gen
.metadata/.mylyn/.taskListIndex/segments_1
.metadata/.mylyn/tasks.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.history/93/d0d9b0c72c5c00141b22dad4a451116f
.metadata/.plugins/org.eclipse.core.resources/.history/fe/c0a6fabb2c5c00141b22dad4a451116f
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.ws.service.policy.prefs
.metadata/.plugins/org.eclipse.dltk.core/Containers.dat
.metadata/.plugins/org.eclipse.jdt.core/105210318.index
.metadata/.plugins/org.eclipse.jdt.core/1198961354.index
.metadata/.plugins/org.eclipse.jdt.core/1667022092.index
.metadata/.plugins/org.eclipse.jdt.core/174553.index
.metadata/.plugins/org.eclipse.jdt.core/1811389807.index
.metadata/.plugins/org.eclipse.jdt.core/1926144101.index
*.index
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.team.cvs.core/.running
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.5.0.20140606-0033.xml
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
*.xml
.metadata/version.ini
*.png
.metadata/.plugins/org.eclipse.core.resources/.history/1/101ebf068d5c00141b22dad4a451116f
.metadata/.plugins/org.eclipse.core.resources/.history/13/a08e0480325c00141b22dad4a451116f
